:root{
  --color-white: #FFFFFF;
  --color-grey: #E5E5E5;
  --color-lilac: #6E41E2;
  --color-attention: #FFD912;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@700&display=swap');

body {
  background: var(--color-grey);
}



.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 25px;
  max-width: 481px;
  margin: auto;
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;

  background: var(--color-white);
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
  box-sizing: border-box;
}
.title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 12px 0 8px;
}
.description{
  margin: 0;
}
.buttons-container{
  display: flex;
  margin-top: 24px;
}
.button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  flex-grow: 1;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  border-radius: 4px;
  border-style: solid;
  margin: 0 5px;
  cursor: pointer;

}
.button--contained {
  color: var(--color-white);
  background: var(--color-lilac);
  border-color: var(--color-lilac);
}
.button--outlined {
  color: var(--color-lilac);
  border-color: var(--color-lilac);
}
.logo-close {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: var(--color-lilac);

}
.logo-close:after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.335004 10.0461C-0.111933 10.4931 -0.111932 11.2177 0.335004 11.6646C0.78194 12.1116 1.50657 12.1116 1.9535 11.6646L5.99984 7.6183L10.0463 11.6648C10.4933 12.1117 11.2179 12.1117 11.6648 11.6648C12.1118 11.2178 12.1118 10.4932 11.6648 10.0463L7.61834 5.9998L11.6645 1.95364C12.1114 1.5067 12.1114 0.782077 11.6645 0.335141C11.2176 -0.111795 10.4929 -0.111795 10.046 0.335141L5.99984 4.3813L1.95384 0.335295C1.5069 -0.111641 0.782272 -0.111641 0.335335 0.335295C-0.111601 0.782231 -0.111601 1.50686 0.335335 1.95379L4.38134 5.9998L0.335004 10.0461Z' fill='white'/%3E%3C/svg%3E ");
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  position: absolute;
  cursor: pointer;
}
.logo-main{
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
  background-position: center;
}
.logo-main:before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  opacity: 0.12;
}
.logo-attention {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='36' viewBox='0 0 7 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 0.00012207C1.84315 0.00012207 0.5 1.34327 0.5 3.00012V25.0001C0.5 26.657 1.84315 28.0001 3.5 28.0001C5.15685 28.0001 6.5 26.657 6.5 25.0001V3.00012C6.5 1.34327 5.15685 0.00012207 3.5 0.00012207ZM3.5 36.0001C1.84315 36.0001 0.5 34.657 0.5 33.0001C0.5 31.3433 1.84315 30.0001 3.5 30.0001C5.15685 30.0001 6.5 31.3433 6.5 33.0001C6.5 34.657 5.15685 36.0001 3.5 36.0001Z' fill='%23FFD912'/%3E%3C/svg%3E%0A");
}
.logo-tick {
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='28' viewBox='0 0 37 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.98466 15.0672C5.36787 14.557 4.56416 14.2802 3.73474 14.2923C2.90533 14.3044 2.11155 14.6045 1.51265 15.1323C0.913746 15.6602 0.554012 16.3769 0.505605 17.1385C0.457198 17.9001 0.723699 18.6504 1.25165 19.2389L8.54836 26.2824C8.85386 26.5772 9.22095 26.8121 9.62761 26.9732C10.0343 27.1342 10.4721 27.218 10.9149 27.2196C11.3553 27.2219 11.7917 27.1429 12.1982 26.9871C12.6047 26.8313 12.9731 26.6019 13.2814 26.3127L35.5659 5.15182C35.8681 4.86599 36.106 4.52823 36.2662 4.15782C36.4265 3.7874 36.5058 3.39159 36.4997 2.99299C36.4936 2.59438 36.4022 2.20078 36.2307 1.83466C36.0592 1.46855 35.811 1.13708 35.5002 0.859196C35.1894 0.581308 34.8222 0.362438 34.4194 0.215085C34.0167 0.0677312 33.5863 -0.00522157 33.1529 0.000392624C32.7195 0.00600682 32.2916 0.0900774 31.8935 0.247805C31.4955 0.405532 31.1351 0.633828 30.8329 0.919655L10.9477 19.8435L5.98466 15.0672Z' fill='%2327AE60'/%3E%3C/svg%3E");
}
.logo-cross {
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='36' viewBox='0 0 37 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.50542 30.1387C0.164615 31.4795 0.164614 33.6533 1.50542 34.9941C2.84623 36.335 5.02011 36.335 6.36092 34.9942L18.4996 22.8555L30.6387 34.9946C31.9795 36.3354 34.1534 36.3354 35.4942 34.9946C36.835 33.6538 36.835 31.4799 35.4942 30.1391L23.3551 18L35.4939 5.86118C36.8347 4.52037 36.8347 2.34649 35.4939 1.00568C34.1531 -0.335125 31.9792 -0.335126 30.6384 1.00568L18.4996 13.1445L6.36119 1.00615C5.02038 -0.334663 2.8465 -0.334663 1.50569 1.00615C0.164876 2.34695 0.164875 4.52083 1.50569 5.86164L13.6441 18L1.50542 30.1387Z' fill='%23C7302B'/%3E%3C/svg%3E%0A");
}
.logo-attention:before {
  background: var(--color-attention);
}